@{
    ViewBag.Title = "Home Page";
}

<h3>View the following examples:</h3>
<ol class="round">
    <li class="one">
        <h5>Team Room</h5>
        View examples on how to use the Team Room APIs
        @Html.ActionLink("Learn more…", "Index", "TeamRoom")
    </li>

    <li class="two">
        <h5>OAuth</h5>
        View how to authorize this application to use Visual Studio Online with OAuth 2.0.
        @Html.ActionLink("Learn more…", "OAuthSample", "Home")
    </li>

    <li class="three">
        <h5>More??</h5>
       
    </li>
</ol>
